In [1]:
def f1():
    # globle X 
    X="Yogesh"
    print("My name is", X)
f1()

My name is Yogesh

In [2]:
Y="Easy"
def f2():
  # globle Y
  x1="easy123"
  print("Python is ", x1)
  print("Python is ", Y)
  f2()

To see the type of the variables

In [3]:
x, y, z = 5, "Good Day!", "global"
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

5
<class 'int'>
Good Day!
<class 'str'>
global
<class 'str'>

In [4]:
x=9
print(x)
print(type(x))
complex(x)

9
<class 'int'>

(9+0j)

Addition of string variables

In [5]:
"Yogesh"+" Kumar"+" Lalwani"

'Yogesh Kumar Lalwani'

Converting the types of variables

In [6]:
Name ="Yogesh"
Middle_Name = " Kumar"
Surname =" Lalwani"
print(Name + Middle_Name+ Surname)
a=1.5
b=512
c=8J
print(int(a))
print(float(b))
print(complex(a))
print(complex(b))

Yogesh Kumar Lalwani
1
512.0
(1.5+0j)
(512+0j)

Input function

In [7]:
a=input()
a

Hello

'Hello'

In [8]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

.strip() , .lower(), .upper(), .replace(), .split() functions

In [9]:
a="Hi how are you? from where their"
print(a.strip())
print(a.lower())
print(a.upper())
print(a.replace("o","j"))
print(a.split("o"))

Hi how are you? from where their
hi how are you? from where their
HI HOW ARE YOU? FROM WHERE THEIR
Hi hjw are yju? frjm where their
['Hi h', 'w are y', 'u? fr', 'm where their']

.format function

In [10]:
age=21
txt="My name is Yogesh, & I'm {} Years"
print(txt.format(age))

My name is Yogesh, & I'm 21 Years

In [11]:
quantity=15
item="Biscuits"
price=10
myorder="I want {} pieces of {} for {} rupees"
print(myorder.format(quantity,item,price))
total_bill = quantity * price
Bill = "Your total bill is {} rupees"
print(Bill.format(total_bill))

I want 15 pieces of Biscuits for 10 rupees
Your total bill is 150 rupees

In [12]:
name=input("Please enter your name ")
age=input("Please enter your age ")
"My name is {} & I'm {} years old".format(name,age)

Please enter your name Yogesh
Please enter your age 21

"My name is Yogesh & I'm 21 years old"

In [13]:
name=input()
age=input()
Class=input()
clg=input()
"My name is {}, I'm {} years old, I study in {} in {}".format(name,age,Class,clg)

Yogesh
21
TYBSc
SPC

"My name is Yogesh, I'm 21 years old, I study in TYBSc in SPC"

In [14]:
name=input("Enter your name ",)
age=input("Enter your age ",)
Class=input("Ënter your class ",)
clg=input("Enter your College Name ",)
"My name is {} , I'm {} years old , I study in {} in {} ".format(name,age,Class,clg)

Enter your name Yogesh
Enter your age 21
Ënter your class TYBSc
Enter your College Name SPC

"My name is Yogesh , I'm 21 years old , I study in TYBSc in SPC "

In [15]:
quantity=15
item="Biscuit"
price=10
country="Indian"
myorder="I want {c} pieces of {b} for {d} rupees. Ruppes is an {a} currency"
print(myorder.format(a=country,b=item,c=quantity,d=price))

I want 15 pieces of Biscuit for 10 rupees. Ruppes is an Indian currency